.track-switcher {
   font-size: 1.2rem;
   $reflex: #ffffff;
   $dsd: #424242;
   $udsd: #383838;
   $lsd: #5f5f5f;
   $dot-shadow: #00000088;
   position: absolute;
   bottom: 3rem;
   right: 5rem;
   transform: translateX(0.5em);
   z-index: 12;
   cursor: pointer;
   &__body {
      position: relative;
      &-pt1 {
         // position: absolute;
         // top: 0;
         // left: 0;
         width: 10em;
         aspect-ratio: 1;
         background: conic-gradient(
            #c0c0c0,
            #c3c3c9,
            #717171,
            #ffffff,
            #cdcdce,
            #c3c3c9,
            #717171,
            #ffffff,
            #c0c0c0
         );
         border-radius: 50%;
         box-shadow: 0.2em 0.2em 0.1em $udsd, -0.2em -0.2em 0.4em $reflex;
      }
      &-pt2 {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 8em;
         aspect-ratio: 1;
         background: conic-gradient(
            #cfcfcf,
            #dbdbe0,
            #afafaf,
            #ffffff,
            #e9e9e9,
            #dbdbe0,
            #afafaf,
            #ffffff,
            #cfcfcf
         );
         border-radius: 50%;
         // box-shadow: 0.2em 0.2em 0.4em #424242, -0.2em -0.2em 0.4em #ffffff;
      }
      &-pt3 {
         overflow: hidden;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 7em;
         aspect-ratio: 1;
         background: linear-gradient(
            0deg,
            #acacac,
            #c0c0c0,
            #cfcfcf,
            #eeeeee,
            #cfcfcf,
            #e9e9e9,
            #cfcfcf
         );
         border-radius: 50%;
         box-shadow: inset -0.2em -0.2em 0.2em $lsd,
            inset 0.2em 0.2em 0.2em $lsd;
      }
      &-pt4 {
         transition: all 0.3s ease;
         opacity: 1;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 5.5em;
         height: 2.4em;
         // background: linear-gradient(
         //    0deg,
         //    #cfcfcf,
         //    #ffffff,
         //    #d4d4d4,
         //    #d4d4d4,
         //    #ffffff,
         //    #cfcfcf
         // );
         background: conic-gradient(
            #cfcfcf7e,
            #dbdbe07e,
            #afafaf7e,
            #ffffff7e,
            #e9e9e97e,
            #dbdbe07e,
            #afafaf7e,
            #ffffff7e,
            #cfcfcf7e
         );
         border-top-left-radius: 1em;
         border-top-right-radius: 0.3em;
         border-bottom-right-radius: 0.3em;
         border-bottom-left-radius: 1em;
         border-radius: 2em;
         // box-shadow: 0.2em 0.2em 0.4em $lsd, -0.2em -0.2em 0.2em $reflex,
         //    0.4em 0 0.2em $udsd, -0.4em 0 0.2em $udsd;
         transform: translate(-50%, -50%) rotate(0deg);
         &-track-on {
            transform: translate(-50%, -50%) rotate(0deg);
            box-shadow: -0.2em -0.2em 0.4em $reflex, 0.2em 0.5em 0.6em $lsd,
               0.4em 0 0.2em $udsd, -0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset 0.2em 0.2em 0.1em $dot-shadow;
               // background-color: #93fe62;
               color: #93fe62;
            }
         }
         &-track-off {
            transform: translate(-50%, -50%) rotate(-45deg);
            box-shadow: 0em -0.2em 0.4em $reflex, 0em 0.5em 0.6em $lsd,
               0.2em 0 0.1em $udsd, -0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset 0em 0.2em 0.1em $dot-shadow;
               color: #5e5e63;
            }
         }
         &-track-1 {
            transform: translate(-50%, -50%) rotate(45deg);
            box-shadow: -0.2em 0em 0.4em $reflex, 0.5em -0em 0.2em $lsd,
               0.2em 0 0.1em $udsd, -0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset 0.1em 0em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-track-2 {
            transform: translate(-50%, -50%) rotate(90deg);
            box-shadow: -0.2em 0.2em 0.4em $reflex, 0.2em -0.5em 0.2em $lsd,
               0.2em 0 0.1em $udsd, -0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset 0.1em -0.1em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-track-3 {
            transform: translate(-50%, -50%) rotate(135deg);
            box-shadow: 0em 0.2em 0.4em $reflex, 0em -0.5em 0.2em $lsd,
               0.2em 0 0.1em $udsd, -0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset 0em -0.1em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-track-4 {
            transform: translate(-50%, -50%) rotate(180deg);
            box-shadow: 0.2em 0.2em 0.2em $reflex, -0.2em -0.5em 0.2em $lsd,
               -0.4em 0 0.2em $udsd, 0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset -0.1em -0.1em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-track-5 {
            transform: translate(-50%, -50%) rotate(225deg);
            box-shadow: 0.2em 0em 0.4em $reflex, -0.5em -0em 0.6em $lsd,
               -0.2em 0 0.1em $udsd, 0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset -0.2em 0em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-track-6 {
            transform: translate(-50%, -50%) rotate(270deg);
            box-shadow: 0.2em -0.2em 0.4em $reflex, -0.2em 0.5em 0.6em $lsd,
               -0.2em 0 0.1em $udsd, 0.2em 0 0.1em $udsd;
            & .track-switcher__body-pt4-dot {
               box-shadow: inset -0.1em 0.1em 0.1em $dot-shadow;
               // background-color: #93fe62;
               // color: #93fe62;
            }
         }
         &-dot {
            transition: background-color 0.3s 0.05s ease,
               box-shadow 0.1s 0s ease;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(50%, -50%);
            color: #f73d24;
            background-color: currentColor;
            width: 0.7em;
            height: 0.7em;
            border-radius: 50%;
            box-shadow: inset -0.1em -0.1em 0.1em $dot-shadow;
         }
      }
   }
   &__text {
      font-size: 1rem;
      position: absolute;
      &-on {
         top: 50%;
         left: -2.5em;
         transform: translateY(-50%);
      }
      &-off {
         bottom: 0.2em;
         left: 0.2em;
         transform: translateX(-50%);
      }
      &-1 {
         opacity: 1;
         top: 0.2em;
         left: 0.2em;
      }
      &-2 {
         opacity: 1;
         top: -1.8em;
         left: 50%;
         transform: translateX(-50%);
      }
      &-3 {
         opacity: 1;
         top: 0.2em;
         right: 0.2em;
      }
      &-4 {
         top: 50%;
         right: -1.6em;
         transform: translateY(-50%);
      }
      &-5 {
         opacity: 1;
         bottom: 0.2em;
         right: 0.2em;
      }
      &-6 {
         opacity: 1;
         bottom: -2em;
         left: 50%;
         transform: translateX(-50%);
      }

      &-content {
         font-family: "Roboto";
         font-size: 1.4em; // 1em = 16px по умолчанию, значит здесь 32px
         color: #616161;
         font-weight: 500;
         text-transform: uppercase;
      }
   }
}
